.poke-item{
  width: 100%;
  height: 150px;

  background: var(--background-blue);

  border-radius: 10px;

  margin: 5px 0;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  span{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
  }
  
  img{
    max-height: 7.5rem;
  }
  
  &:hover > img {
    max-height: 9rem;
  }
}